/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
  

}

#resultstext {
  margin-left: 10px;
}

.container {
  display: flex;
  flex: row;
}

#form {
  align-self: center;
  margin: 10px;
  display: inline-block;
}

/* from my lab 9! */
.special {
  border: 10px dotted palegoldenrod;
  border-image-source: url("../img/starborder.png");
  border-image-slice: 33%;
  border-image-repeat: round;
  border-image-outset: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: darkslateblue;
  color: white;
  animation-name: sparkle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#output {
  padding: 10px;
  align-self: flex-start;
  margin: 10px;
  display: inline-block;
  border: solid 1px #888;
  clear: left;
}

#nametag-hello {
  font: bold 40px sans-serif;
  fill: white;
}

#nametag-label {
  font: 20px sans-serif;
  fill:white;
}

#nametag-container {
  position:relative;
}

#anagram {
  font: 30px cursive;
  position: absolute;
  width: 400px;
  text-align: center;
  top: 125px;
  color: black;
}

#nametag-base {
  fill: black;
}

.hide {
  display:none;
}

/* Special thanks w3schools https://www.w3schools.com/css/css3_animations.asp */
@keyframes sparkle {
  0% {border-image-source: url("../img/starborder.png");
      border-image-outset: 5px;}
  25% {border-image-source: url("../img/starborder1.png");}
  50% {border-image-source: url("../img/starborder.png");
      border-image-outset: 7px;}
  75% {border-image-source: url("../img/starborder1.png");}
  100% {border-image-source: url("../img/starborder.png");
      border-image-outset: 5px;}
}

.uhoh {
  width: 100px;
  float:left;
}

.uhoh1 {
  position: sticky;
  top: 20px;
}