/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }


/* attempted grid stuff from here: https://www.w3schools.com/cssref/tryit.php?filename=trycss_grid2 */
.grid {
  display: grid;
  grid: 
  'screenshot1 screenshot2'
  'screenshot1 screenshot3'
}


.screenshot1 img {
  width: 200px;
}

.screenshot2 img {
  width: 500px;
}

.screenshot3 img {
  width: 500px;
}
